<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>À propos de moi</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <h3>Qui suis-je</h3>
        <p>Bonjour, je suis Nicolas St-Martin et je suis présentement étudiant en Technique d'intégration Multimédia à Montmorency. 
          J'adore les Jeux vidéo, les mangas et les animés, j'adore le domaine de multimédia car c'est un milieu très créatif qui 
          regorge de gens formidables avec qui il est possible de créer des projets encore plus fantastique que si on était seul.</p>
      </div>
      <div class="col-lg-4">
        <h3>Objectif de carrière</h3>
        <p>Mon objectif final serait de devenir Artiste de niveaux, car même si cela peut paraître bête j'ai eu beaucoup de plaisir 
          à décorer ma maison dans Les Sims étant plus jeune et encore aujourd'hui j'adore m'occuper de la décoration de notre dojo 
          dans un jeu qu'on appelle Warframe dans le but d'époustoufler les gens avec des environnements merveilleux dans lesquels 
          ils auront envie de se promener.</p>
      </div>
    </div>
  </div>
</section>
