<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            {% if post.videoYtb %}
            <iframe width="100%" style="aspect-ratio: 16/9;" src="{{ post.videoYtb }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            {% endif %}
            {% if post.imgPrimary %}
            <img src="img/portfolio/{{ post.imgPrimary }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% if post.imgSecond1 %}
            <img src="img/portfolio/{{ post.imgSecond1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% if post.imgSecond2 %}
            <img src="img/portfolio/{{ post.imgSecond2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% if post.imgSecond3 %}
            <img src="img/portfolio/{{ post.imgSecond3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% if post.imgSecond4 %}
            <img src="img/portfolio/{{ post.imgSecond4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% if post.imgSecond5 %}
            <img src="img/portfolio/{{ post.imgSecond5 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}
            <ul class="list-inline item-details">
              {% if post.title %}
              <li>Titre:
                <strong>{{ post.title }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Catégorie:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
              
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
